doctype html
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        title My Resume
        meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0")
        link(rel="icon" href="/img/favicon.ico" type="image/x-icon")
        //- CSS
        link(rel="stylesheet" href="css/base.css")
        link(rel="stylesheet" href="css/layout.css")
        link(rel="stylesheet" href="css/component.css")
        
    body
        .wrapper
            //- Start bg
            .bg
            //- End bg

            //- Start header
            header.header.js-header
                .container
                    .navbar.navbar--collapse.u-clearfix
                        .social-bar.navbar__social-bar
                            a.icon-btn(href="https://github.com/tony40508")
                                i.icon.icon-github-circled
                            a.icon-btn(href="https://codepen.io/takeu/")
                                i.icon.icon-codeopen
                            a.icon-btn(href="https://www.facebook.com/profile.php?id=100004435775604&ref=bookmarks")
                                i.icon.icon-facebook-official
                        .nav.navbar__nav
                            a.menu-toggle(href="#popup-overlay")
                                span
                                span
                                span
                            .popup-menu#popup-overlay
                                .container
                                    .u-clearfix
                                        a.popup-menu__close(href="#")
                                            span
                                            span
                                    ul
                                        li
                                            a.popup-menu__item(href="#") ABOUT
                                        li
                                            a.popup-menu__item(href="#") SKILL
                                        li
                                            a.popup-menu__item(href="#") EXPERIENCE
                                        li
                                            a.popup-menu__item(href="#") MY WORK
                                        li
                                            a.popup-menu__item(href="#") CONTACT
            //- End header

            //- Start main
            sector.main
                //- Start about
                .hero
                    .hero__bg
                    .container
                        .hero__content
                            h1.hero__heading 
                                | HELLO 
                                br
                                | I'M TAKEU
                        a.btn.btn--primary.btn--md(href="#") Contact
                //- End about

                //- Start quote
                .quote.bg-color-white.lean-bg--top.lean-bg--no-margin  
                    .container
                        .row
                            .col-sm-6.col-sm-push-3
                                .quote__content
                                    .quote__icon
                                        .icon-search
                                    p.quote__text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt expedita deleniti laboriosam consectetur tempora minima debitis, amet nam illo est numquam ipsam cupiditate! Excepturi doloremque numquam dolorum tenetur aut? Veniam.Corporis, quod veritatis? Debitis quia dolorum maiores hic asperiores. Perferendis quia unde libero ex quae hic explicabo adipisci, culpa asperiores! Libero perferendis debitis, accusantium voluptas repellendus delectus ad asperiores sapiente.
                                    .quote__name I am form 
                                        span NCKU
                                    
                //- End quote

                //- Start skill
                .skill.bg-color-white.lean-bg--bottom 
                    .container
                        h2.subtitle.u-text-center SKILL
                        .skill-group
                            .row
                                .col-sm-6
                                    .skill-card
                                        .skill-card__inner
                                            h4.skill-card__title React.js
                                            p.skill-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quis ipsam. Accusantium magni facilis vero perspiciatis, tempora nisi. Magni natus dolores dolorem vero obcaecati molestias iusto provident minus sapiente consectetur!
                                        .skill-card__icon 
                                            img.image(src="./img/skill_icon/react-icon.png", alt="")
                                .col-sm-6
                                    .skill-card
                                        .skill-card__inner
                                            h4.skill-card__title Vue.js
                                            p.skill-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quis ipsam. Accusantium magni facilis vero perspiciatis, tempora nisi. Magni natus dolores dolorem vero obcaecati molestias iusto provident minus sapiente consectetur! 
                                        .skill-card__icon 
                                            img.image(src="./img/skill_icon/vue-icon.png", alt="")
                            .row
                                .col-sm-6
                                    .skill-card
                                        .skill-card__inner
                                            h4.skill-card__title D3.js
                                            p.skill-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quis ipsam. Accusantium magni facilis vero perspiciatis, tempora nisi. Magni natus dolores dolorem vero obcaecati molestias iusto provident minus sapiente consectetur! 
                                        .skill-card__icon 
                                            img.image(src="./img/skill_icon/d3-icon.png", alt="")
                                .col-sm-6
                                    .skill-card
                                        .skill-card__inner
                                            h4.skill-card__title Sketch
                                            p.skill-card__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, quis ipsam. Accusantium magni facilis vero perspiciatis, tempora nisi. Magni natus dolores dolorem vero obcaecati molestias iusto provident minus sapiente consectetur!
                                        .skill-card__icon 
                                            img.image(src="./img/skill_icon/sketch-icon.png", alt="")
                //- End skill

                //- Start experience
                .experience
                    .container
                        h2.subtitle.u-text-center.color-white EXPERIENCE
                            .timeline-group
                                .timeline
                                .timeline-cards
                                    .timeline-cards__row
                                        .timeline-card
                                            h4 2017.11 JSDC 2017
                                            p.timeline-card__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur nulla dolore commodi quia. Doloribus, incidunt in natus aliquid exercitationem architecto rerum.
                                    .timeline-cards__row
                                        .timeline-card
                                            h4 2017.11 CCNS IoT by jserv 
                                            p.timeline-card__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur nulla dolore commodi quia. Doloribus, incidunt in natus aliquid exercitationem architecto rerum.
                                    .timeline-cards__row
                                        .timeline-card
                                            h4 2017.11 D3.js in CNC 
                                            p.timeline-card__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur nulla dolore commodi quia. Doloribus, incidunt in natus aliquid exercitationem architecto rerum.
                                    .timeline-cards__row
                                        .timeline-card
                                            h4 2017.09 NCKU 
                                            p.timeline-card__text Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur nulla dolore commodi quia. Doloribus, incidunt in natus aliquid exercitationem architecto rerum.          
                //- End experience

                //- Start work
                .work.bg-color-white.lean-bg--top.lean-bg--bottom  
                    .container
                        h2.subtitle.u-text-center MY WORKS
                            .work-list
                                .work-item
                                    .row
                                        .col-sm-6.col-sm-push-5
                                            .imgbox
                                                .imgbox__inner.imgbox__inner--4-3
                                                    .image(style="background-image: url('./img/works/thumbnail/work001_thumb.jpg')")
                                        .col-sm-4.col-sm-pull-5
                                            .work-item__text.work-item__text--right 
                                                h3.work-item__title.work-item__title--right WORK 001
                                                p.work-item__intro Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam iure, neque, ipsa maxime eligendi repellat accusamus quibusdam vel, sunt consequuntur quidem ipsum similique enim assumenda exercitationem reprehenderit cupiditate quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quae quis accusamus a ipsum? Blanditiis, excepturi doloremque exercitationem, autem facilis quidem iure id saepe quam dolorum 
                                                a(href="#").text-btn.text-btn--primary.text-btn--lg Show project
                                .work-item
                                    .row
                                        .col-sm-6.col-sm-push-1
                                            .imgbox
                                                .imgbox__inner.imgbox__inner--4-3
                                                    .image(style="background-image: url('./img/works/thumbnail/work002_thumb.jpg')")
                                        .col-sm-4.col-sm-push-1
                                            .work-item__text
                                                h3.work-item__title.work-item__title--left WORK 002
                                                p.work-item__intro Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam iure, neque, ipsa maxime eligendi repellat accusamus quibusdam vel, sunt consequuntur quidem ipsum similique enim assumenda exercitationem reprehenderit cupiditate quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quae quis accusamus a ipsum? Blanditiis, excepturi doloremque exercitationem, autem facilis quidem iure id saepe quam dolorum 
                                                a(href="#").text-btn.text-btn--primary.text-btn--lg Show project
                                .work-item
                                    .row
                                        .col-sm-6.col-sm-push-6
                                            .imgbox
                                                .imgbox__inner.imgbox__inner--4-3
                                                    .image(style="background-image: url('./img/works/thumbnail/work003_thumb.jpg')")
                                        .col-sm-4.col-sm-pull-5
                                            .work-item__text
                                                h3.work-item__title.work-item__title--right WORK 003
                                                p.work-item__intro Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam iure, neque, ipsa maxime eligendi repellat accusamus quibusdam vel, sunt consequuntur quidem ipsum similique enim assumenda exercitationem reprehenderit cupiditate quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quae quis accusamus a ipsum? Blanditiis, excepturi doloremque exercitationem, autem facilis quidem iure id saepe quam dolorum 
                                                a(href="#").text-btn.text-btn--primary.text-btn--lg Show project
                                .work-item
                                    .row
                                        .col-sm-6.col-sm-push-1
                                            .imgbox
                                                .imgbox__inner.imgbox__inner--4-3
                                                    .image(style="background-image: url('./img/works/thumbnail/work004_thumb.jpg')")
                                        .col-sm-4.col-sm-push-1
                                            .work-item__text 
                                                h3.work-item__title.work-item__title--right WORK 004
                                                p.work-item__intro Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam iure, neque, ipsa maxime eligendi repellat accusamus quibusdam vel, sunt consequuntur quidem ipsum similique enim assumenda exercitationem reprehenderit cupiditate quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quae quis accusamus a ipsum? Blanditiis, excepturi doloremque exercitationem, autem facilis quidem iure id saepe quam dolorum 
                                                a(href="#").text-btn.text-btn--primary.text-btn--lg Show project
                                .work-item
                                    .row
                                        .col-sm-6.col-sm-push-5
                                            .imgbox
                                                .imgbox__inner.imgbox__inner--4-3
                                                    .image(style="background-image: url('./img/works/thumbnail/work005_thumb.jpg')")
                                        .col-sm-4.col-sm-pull-5
                                            .work-item__text.work-item__text--right 
                                                h3.work-item__title.work-item__title--right WORK 005
                                                p.work-item__intro Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit numquam iure, neque, ipsa maxime eligendi repellat accusamus quibusdam vel, sunt consequuntur quidem ipsum similique enim assumenda exercitationem reprehenderit cupiditate quia? Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quae quis accusamus a ipsum? Blanditiis, excepturi doloremque exercitationem, autem facilis quidem iure id saepe quam dolorum 
                                                a(href="#").text-btn.text-btn--primary.text-btn--lg Show project
                            .btn-group.btn-group--center
                                a(href="#").btn.btn--secondary.btn--md More works
                //- End work
            //- End main

            //- Start footer
            footer
                .info 
                    .info__phone
                        a(href="tel:09723371XX") 09723371XX
                    .info__email
                        a(href="mailTo:tony40508@gmail.com") tony40508@gmail.com
                    .social-bar.info__social-bar
                        a.icon-btn(href="#")
                            i.icon.icon-slack
                        a.icon-btn(href="#")
                            i.icon.icon-medium
                        a.icon-btn(href="#")
                            i.icon.icon-dribbble
                .container
                    p.final-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ex veniam ab eius quod quo iusto enim alias labore, magnam doloribus ratione expedita laboriosam placeat, eaque vel aliquam sunt sapiente.
                    p.copyright Copyright © 2018.1 takeu in UI/UX web design
            //- End footer
        
        //- JS
        script(src="./js/jquery-2.0.2.min.js")
        script(src="./js/custom.js")